html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-image: url('image1_2.jpg');
    background-size: cover;
    background-attachment: fixed;    
}
/* HEADER */
header{
    width: 100%;
    line-height: 60px;
    position: fixed;
    top: 0px;   
    z-index: 20;
}
.header-left {
    float: left;
}
.header-left img {
    width: 50px;
    padding-top: 10px;
    padding-left: 10px;
}
.header-left a{
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px 10px;
}
.header-right {
   text-align: right;
}
.header-right li{
    position: relative;
    display: inline-block;
    margin: auto 15px;
}
.header-right a{
    color: #fff;
    padding: 3px 15px;
    border: 1px solid rgba(255, 255, 255, 0.692);
    border-radius: 15px;
}

nav {
    display: none;
    text-align: right;
}
nav > a {  
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: max-content;
} 
nav a:hover{
    background:rgba(255, 255, 255, 0.2);
}
nav ul{
    display: none;
}
nav:hover > ul {
    display: block;
    float: right;
    width: 80px;
    text-align: center;
}
nav li{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
}
nav li:hover{
    background-color: rgba(255, 255, 255, 0.7);

}
nav ul li a{
    display: block;
    color: rgba(0,0,0, 0.8);
    text-decoration: none;
   }


/* VARIASI PADA BUTTON*/
.header-right a:hover{
    background-color: rgba(184, 212, 212, 0.7);   
    transition: 0.2s;
    padding: 3px 15px;
    border-radius: 15px;
}
.menu:active{
    position: relative;
    top: 1.5px;
} 
/* BATAS VARIASI PADA BUTTON*/
/* BATAS HEADER */

/* MAIN */
   
/* HOMEPAGE */
#home {
    height: 600px;
}
.title{
    text-align: center;
    margin-top: 100px; 
    color: #fff;
    margin-bottom: 15px;
}
.deskripsi{
    text-align: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    letter-spacing: 3px;
    line-height: 20px;
    padding: 5px 15px;
    margin: auto;
    width: 560px;
    border-radius: 20px;
}
/* TOPIK */
.topik{
    position: absolute;
}
.topik h3{
    position: absolute;
    left: 380px;
    top: 130px;
    color: #fff; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
}
.topik a{
    display: block;
    color: white;
    font-family: "Lucida-Grande";
    width:max-content;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    animation-duration: 2s;
}
.topik a:active{
    background-color: rgba(255, 255, 255, 0.2);
}

.organisasi{
    animation-name: organisasi;
    left: 240px;
    top: 200px;
}
@keyframes organisasi{
    0% {opacity: 0; left: 465px; top: 130px;}
    100% {left: 240px; top: 200px;}
}
.time{
    animation-name: time;
    left: 350px;
    top: 200px;
}
@keyframes time{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 350px; top: 200px;}
}
.kos{
    left: 530px;
    top: 200px;
    animation-name: kos;
}
@keyframes kos{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 530px; top: 200px;}
}
.skripsi{  
    left: 180px;
    top: 270px;
    animation-name: skripsi;    
}
@keyframes skripsi{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 180px; top: 270px;}
}
.pertemanan{
    left: 280px;
    top: 270px;
    animation-name: pertemanan;
}
@keyframes pertemanan{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 280px; top: 270px;}
}
.prestasi{
    animation-name: prestasi;
    left: 410px;
    top: 270px;
}
@keyframes prestasi{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 410px; top: 270px;}
}
.dan{
    left: 530px;
    top: 270px;
    animation-name: dan;
}
@keyframes dan{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 530px; top: 270px;}
}   
/* BATASTOPIK */
/* BATAS HOMEPAGE */

/* EVENTS */
#events {
    height: 100%;
    width: 800px;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
}
#events h1{
    color: rgba(255, 255, 255, 0.7);
}
.event{
    margin: 5px;
    height: auto;
    background-color: #333;
    overflow: hidden;
    padding: 4px;
    border: 1px solid #444;
}
.event img{
    float: left;
    height: 50px;
    width: 50px;
    margin: 2px 10px 2px 0px;
    padding: 2px;
    border: 1px solid #666;
    border-radius: 5px;
}
.event h3 {
    letter-spacing: 2px;
    color: sienna;
    margin-bottom: 5px;
}
.event p{
    display: block;
    font-family:sans-serif; 
    font-size: 12px;
    color: rgb(230,230,230);
}
/* BATAS EVENTS */

/* BATAS MAIN */

/* FOOTER */
footer{
    background-color: black;
    height: 60px;
    width: 100%;  
    font-size: 15px;
    margin-top: 15px;
}
.footer{
    line-height: 60px;
    padding-right: 10px;
}
.footer p{
    color: #fff;
    font-size: 11px;
    float: right;
}
.footer-list a{
    color: #fff;
    margin: 0 10px;
    float: left;
}

/* BATAS FOOTER */