html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-image: url('image1_2.jpg');
    background-size: cover;
    background-attachment: fixed;    
}
/* HEADER */
header{
    width: 100%;
    line-height: 60px;
    display: block;
    position: fixed;
    top: 0px;
    
}
.header-left {
    float: left;
}
.header-right {
   display: block;
   text-align: right;
}
.header-right li{
    position: relative;
    display: inline-block;
    margin: auto 15px;
}
.header-right a{
    color: #fff;
    padding: 3px 15px;
    border: 1px solid rgba(255, 255, 255, 0.692);
    border-radius: 15px;
}
/* VARIASI PADA BUTTON*/
.header-right a:hover{
    background-color: rgba(184, 212, 212, 0.7);   
    transition: 0.2s;
    padding: 3px 15px;
    border-radius: 15px;
}
.menu:active{
    position: relative;
    top: 1.5px;
} 
/* BATAS VARIASI PADA BUTTON*/
/* BATAS HEADER */

/* MAIN */
main{
   scroll-padding-block-start: 60px; 
}
/* HOMEPAGE */
#home {
    height: 500px;
}
.title{
    text-align: center;
    margin-top: 100px; 
    color: #fff;
    margin-bottom: 15px;
}
.deskripsi{
    text-align: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    letter-spacing: 3px;
    line-height: 20px;
    padding: 5px 15px;
    margin: auto;
    width: 550px;
    border-radius: 20px;
}
/* TOPIK */
.topik{
    position: absolute;
}
.topik h3{
    position: absolute;
    left: 380px;
    top: 130px;
    color: #fff; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
}
.topik a{
    display: block;
    color: white;
    font-family: "Lucida-Grande";
    width:max-content;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    animation-duration: 2s;
}
.topik a:active{
    background-color: rgba(255, 255, 255, 0.2);
}

.organisasi{
    animation-name: organisasi;
    left: 240px;
    top: 200px;
}
@keyframes organisasi{
    0% {opacity: 0; left: 465px; top: 130px;}
    100% {left: 240px; top: 200px;}
}
.time{
    animation-name: time;
    left: 350px;
    top: 200px;
}
@keyframes time{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 350px; top: 200px;}
}
.kos{
    left: 530px;
    top: 200px;
    animation-name: kos;
}
@keyframes kos{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 530px; top: 200px;}
}
.skripsi{  
    left: 180px;
    top: 270px;
    animation-name: skripsi;    
}
@keyframes skripsi{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 180px; top: 270px;}
}
.pertemanan{
    left: 280px;
    top: 270px;
    animation-name: pertemanan;
}
@keyframes pertemanan{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 280px; top: 270px;}
}
.prestasi{
    animation-name: prestasi;
    left: 410px;
    top: 270px;
}
@keyframes prestasi{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 410px; top: 270px;}
}
.dan{
    left: 530px;
    top: 270px;
    animation-name: dan;
}
@keyframes dan{
    0% {opacity: 0; left: 380px; top: 130px;}
    100% {left: 530px; top: 270px;}
}   

/* BATASTOPIK */
/* BATAS HOMEPAGE */
#events {
    height: 100px;
    color: white;
    padding: 10px;
    background-color: rgb(60, 104, 104);
}
#events h1{
    padding-top: 60px;
}
#login {
    height: 200px;
    color: white;
    padding: 10px;
    background-color: rgb(6, 82, 117);
}


/* BATAS MAIN */

/* FOOTER */
footer{
    background-color: black;
    height: 80px;
    width: auto;
    padding-top: 40px;
    color: #fafafa;
}
.footer{
    text-align: center;
}
.footer h1{
    font-size: 11px;
}
.footer-list li{
    margin: 0 10px;
    font-size: 10px;
}
/* BATAS FOOTER */
